html, body, #root, .fullheight {
  min-height: 100% !important;
  height: 100%;
}

.fullheight{
display: flex;
}

.navbar {
  width: 10em;
    height: 100%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    &-main_div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-routes_list{
      display: flex;
      flex-direction: column !important;
    }
}

.charts_main_div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  &-item{
    margin: 3em;
  }
}

.active{
  background-color: red;
}
.inactive{
  background-color: yellow;
}